/*
Color palatte
Dark brown: 4D4D4D
Dull red: B46060
Bright (pale-ish) orange: FFBF9B
Pale orange: FFF4E0
*/
body {
  background-color: rgba(255, 244, 224, 0.5); /* color #FFF4E0 with 50% opacity */
  color: #4D4D4D;
  margin: 0 auto;
  width: 80%;
}

/* Top of the page */
.app-name {
  color: #4D4D4D;
  text-decoration: none;
  font-size: 1.25rem;
}
.app-name:hover {
  color: #B46060;
}
.nav-bar {
  border-bottom: #4D4D4D 1px solid;
  margin-bottom: 50px;
}

/* Icons (in Navbar, Banner, and Footer) */
.icon {
  color: #4D4D4D;
}
.icon:hover {
  color: #B46060;
}
.dingbat {
  margin: 15px auto;
}

/* Welcome banner */
.banner {
  margin: 50px auto;
}
.banner-button {
  background-color: #4D4D4D;
  border: none;
  border-radius: 15px;
  color: #FFF4E0;
  font-size: 1.1rem;
  margin: 5px;
  padding: 10px;
}
.banner-button:hover {
  background-color: #B46060;
}
.welcome {
  font-size: 1.5rem;
}

/* Book shelves (in /library and /search) */
.shelf-row {
  display: flex;
}
.book-div {
  display: inline-block;
  width: 20%;
}
.book-cover {
  width: 90%;
} /* TODO Change book-div and book-cover when screen is less than... */
.library-action-btn {
  background-color: #4D4D4D;
  border: none;
  border-radius: 10px;
  color: #FFF4E0;
  margin: 5px 0;
  padding: 7px;
}
.library-action-btn:hover {
  background-color: #B46060;
}

footer {
  border-top: #4D4D4D 1px solid;
  margin-top: 50px;
  padding-top: 20px;
}